* {
  padding: 0;
  margin: 0;
}

:root {
  --primary: #3955bb; /*--로 변수선언*/
}

html, body {
  height: 100%
}

.wrapper {
  height:100%;
  overflow: hidden;
  /*넘어가는 부분 잘라버리기*/
}

.header{
  background: /*#3955bb;*/ var(--primary);/*var 로 변수 불러올 수 있음*/
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  height: 2rem;
  align-items: center;
}

.header h1 {
  font-size: 18px;
}

select{
  border: none;
  width: 200px;
  height: 30px;
  border-radius: 3px;
}

.main-section {
  display: flex;
  flex-direction: column;/*세로정렬, justify와 align의 방향이 같이 바뀜*/
  justify-content: center;
  align-items: center;
  height: calc(100% - 2rem) /*헤더를 제외한 나머지 영역 100%*/
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.location {
  font-size: 20px;
  color: #3955bb;
}

.temperature {
  font-size: 24px;
}

.temperature > span {
  font-size: 56px;
  margin-right: 0.3rem;
}

.weather {
  display: flex;
  justify-content: center;
  align-items: center;
}

.weather img{
  max-width: 70px;
}

.details {
  margin-top: 1rem;
  font-size: 11px;
  display: flex;
}

.details > span {
  background: var(--primary);
  color: #fff;
  margin-right: 5px;
  padding: 0.1rem 0.3rem;
  border-radius: 5px;
}

.spinner{
  display: none;
}